$my-post-color: #00bcd4;

.user-tab {
  padding: 10px;
}

.table-container {
  padding: 10px; 

  .table-options {
    display: flex;
    justify-content: center;
  }

  .my-post {
    background-color: $my-post-color;
  }
}
